{% extends "Test/wrapper.html" %}

{% block content %}

<p>Darova</p>
<h1></h1>
<h2 class="text-info">{{articles.title}}</h2>
<h6 class="text-info">Posted: {{articles.date|date:"Y-m-d "}}</h6>
<p>{{articles.post|safe|linebreaks}}</p>
<h6>{{articles.amount_of_comments}}</h6>
<h6>{{articles.post_rating}}</h6>
<button type="button", class="btn btn-success", onclick="upvote()">Upvote</button>
<button type="button", class="btn btn-danger", onclick="downvote()">Downvote</button>
<h3 style="margin-bottom: 30px; margin-top: 30px;">Comment section</h3>
<button type="button", class="btn btn-dark", onclick="showImage()">Добавить корованн</button>
<button type="button", class="btn btn-dark", onclick="LootImage()">Разграбить корованн</button>
<div id="cow", class="container", style="margin-top: 30px;">
</div>
<script>
    function upvote(){
        placeholder
    }
    function downvote(){
        placeholder
    }
    function showImage() {
        var cow = document.createElement("IMG")
        document.getElementById("cow").appendChild(cow)
        cow.src = "/static/korovann.png"
    }
    function LootImage(){
        var cow = document.getElementsByTagName("IMG")
        document.removeChild(cow)
    }
</script>
<!-- kommenti -->

{% endblock %}