<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-RU-Compatible" content="ie=edge">
        <title>Заголовок страницы</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        type="text/css">
    </head>
    <style media="screen">
      body {
        background: rgb(28, 28, 28);
        color: rgb(230, 230, 230);
        font-family: "Lucida Console"
      }
      div {
        margin: 10px 10px 10px 10px;
        opacity: 1;
      }
      #outside {
        position: relative;
      }
      .left{
        width: 15%;
      }
      .center{
        width: 65%;
      }
      .right{
        width: 15%;
      }
    </style>
    <body>
      <div class="row">
        <div class="column left">
          <a href="/news" class="btn btn-primary btn-lg", id="leftbar">News</a>
          <a href="/placeholder", class="btn btn-primary btn-lg", id="leftbar">placeholder</a>
          <a href="/placeholder2", class="btn btn-primary btn-lg", id="leftbar">placeholder2</a>
          <a href="/placeholder3", class="btn btn-primary btn-lg", id="leftbar">placeholder3</a>
          <a href="/placeholder4", class="btn btn-primary btn-lg", id="leftbar">placeholder4</a>
        </div>
        <div class="column center">
          <div class="container", style="background-color: rgb(28,58,28);
        border-radius: 15px; width: 75%; padding-bottom: 30px; padding-top: 30px; margin: 10 0 10 0">
          <h1 style="text-align: center;">AnalogDTFa</h1>
        </div>
          <div class="container", style="background-color: rgb(28,28,58);
          border-radius: 15px; width: 75%; padding: 10px 10px 10px 10px">
              <P>
                  {% block content %}
                  {% endblock %}
              </P>
              <br> <br> <br>
              <P>
                  <a href="/" class="btn btn-success btn-lg">main page</a>
                  <a href="/news" class="btn btn-primary btn-lg">news
                  &raquo;</a>
                  <a href="/contact" class="btn btn-info btn-lg">contact
                  &raquo;</a>
              </P>
          </div>
          <div class="container", style="background-color: rgb(58,28,28);
          border-radius: 15px; width: 75%;">
              <h2>Temprorary text</h2>
              <p>Also temp</p>
              <a href="/experiments" class="btn btn-primary">experiments</a>
          </div>
        </div>
        <div class="column right">
          <a href="/profile" class="btn btn-primary btn-lg", id="rightbar">Profile</a>
          <a href="/placeholder5", class="btn btn-primary btn-lg", id="righttbar">placeholder5</a>
          <a href="/placeholder6", class="btn btn-primary btn-lg", id="righttbar">placeholder6</a>
          <a href="/placeholder7", class="btn btn-primary btn-lg", id="righttbar">placeholder7</a>
          <a href="/placeholder8", class="btn btn-primary btn-lg", id="righttbar">placeholder8</a>
        </div>
      </div>
    </body>
</html>
